{{template "header" .}}
<div class="px-6">
  <h1 class="py-4 text-4xl semibold tracking-tight">Contact Page</h1>
  <p class="text-grey-800">to send email click 
    <a class="underline" href="mailto:sample@sample.ru">sample@sample.ru</a>
  </p>
</div>
{{template "footer" .}}